@import url('https://fonts.googleapis.com/css?family=Raleway');
html,
body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    ;
}

.iconBeforeHover,
.iconAfterHover {
    width: 80px;
    height: 80px;
}

.iconAfterHover,
.banner:hover .iconBeforeHover {
    display: none;
}

.iconBeforeHover,
.banner:hover .iconAfterHover {
    display: inline;
}

.banner {
    text-align: right;
}

.banner img {
    float: left;
}

.logo {

    float: left;
}

h1 {
    /*This will reduce the space between two headings*/
    margin: 0;
    padding: 0;
}

.nameSize,
.size {
    color: #2d3c49;
}

.nameSize {
    font-size: 40px;
}

.size {
    font-size: 20px;
}

.mainPhoto {
    width: 100vw;
    height: 60vh;
}

.featuredWorkHeading {
    color: #7d97ad;
}

.featuredWork {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    }

figcaption {
    font-size: 20px;
    text-align: center;
}

.subText {
    margin: 0;
    padding: 0;
    text-align: center;
}

@media all and (max-width: 500px) {
 .nameSize {
    font-size: 6vw;
 }
 .size {
    font-size: 3vw;
 }
}

  